In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-1.0.5-cp38-cp38-manylinux1_x86_64.whl (10.0 MB)
     |████████████████████████████████| 10.0 MB 1.3 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/lib/python3/dist-packages (from pandas) (2.7.3)
Requirement already satisfied: numpy>=1.13.3 in /home/shanmuk/.local/lib/python3.8/site-packages (from pandas) (1.19.1)
Requirement already satisfied: pytz>=2017.2 in /home/shanmuk/.local/lib/python3.8/site-packages (from pandas) (2020.1)
Installing collected packages: pandas
Successfully installed pandas-1.0.5
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
pd.read_csv('https://repl.it/@shanmuksastry/fcc-demographic-data-analyzer-1#adult.data.csv')

ParserError: Error tokenizing data. C error: Expected 61 fields in line 9, saw 63

In [5]:
df = pd.read_csv('adult_data.csv')

In [6]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [8]:
df.groupby('race').mean()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
race,,,,,,
Amer-Indian-Eskimo,37.173633,120831.147910,9.311897,625.266881,34.176849,40.048232
Asian-Pac-Islander,37.746872,159940.609240,10.960539,1478.358037,97.222329,40.127045
Black,37.767926,228013.124200,9.486236,609.940461,60.385083,38.422855
Other,33.457565,197124.191882,8.841328,934.660517,61.070111,39.468635
White,38.769881,187298.064280,10.135246,1121.660375,90.806155,40.689100

In [9]:
df.groupby('race').sum()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
race,,,,,,
Amer-Indian-Eskimo,11561,37578487,2896,194458,10629,12455
Asian-Pac-Islander,39219,166178293,11388,1536014,101014,41692
Black,117987,712313000,29635,1905454,188643,120033
Other,9067,53420656,2396,253293,16550,10696
White,1078423,5209882956,281922,31200105,2525864,1131808

In [10]:
df.value_counts('race')

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [11]:
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [24]:
import numpy as np

In [23]:
df.loc[df['sex']=='Male']['age'].mean()

39.43354749885268

In [27]:
np.set_printoptions(precision=1)

In [34]:
type(df.loc[df['sex']=='Male']['age'].mean().round(decimals=1))

numpy.float64

In [29]:
np.mean(df.loc[df['sex']=='Male']['age'])

39.43354749885268

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [48]:
me = df[df['education']=='Bachelors']['education'].count()/df['education'].count()*100

me.round(decimals=1)

In [49]:
me

16.44605509658794

In [50]:
me.round(decimals=1)

16.4

In [87]:
df.loc[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])&(df['salary']=='>50K'), 'salary'].count()/df.loc[df['education'].isin(['Bachelors', 'Masters', 'Doctorate']), 'salary'].count()*100

46.535843011613935

In [89]:
df.loc[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])&(df['salary']=='>50K'), 'salary'].count()/df.loc[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate']), 'salary'].count()*100

17.3713601914639

In [95]:
df['hours-per-week'].min()

numpy.int64

In [103]:
df.loc[(df['hours-per-week']==df['hours-per-week'].min())&(df['salary']=='>50K'), 'salary'].count()/df.loc[df['hours-per-week']==df['hours-per-week'].min(), 'salary'].count()*100

10.0

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [131]:
(df.loc[df['salary']=='>50K']['native-country'].value_counts()/df['native-country'].value_counts()).idxmax()

'Iran'

In [137]:
df.loc[(df['salary']=='>50K') & (df['native-country'] == 'India') ]['occupation'].value_counts(normalize=True).idxmax()

'Prof-specialty'

In [138]:
(df.loc[df['salary']=='>50K']['native-country'].value_counts()/df['native-country'].value_counts()).max()

0.4186046511627907